@import "./_font.scss";
@import "./_global.scss";
@import "./_typography.scss";
@import "./_utils.scss";

$blueColor: #2D66EE;
$fontSFProText: "SF Pro Text";
$fontSFProDisplay: "SF Pro Display";

@mixin fontCharacteristic($fsize,
$fweight, $lineheight, $letterspacing) {
    font-size: $fsize;
    font-weight: $fweight;
    line-height: $lineheight;
    letter-spacing: $letterspacing;
}

@mixin setPaddingMargin ($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

.block-header {
    width: 1224px;
    margin: 0 auto;
}

.main-header {
    width: 1124px;
    background-color: #fff;
    position: fixed;
    top: 24px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    padding: 16px 24px;
    z-index: 10;
}

.header-navigation {
    display: flex;
    gap: 80px;
    justify-content: space-between;
}

.three-line-open-menu,
.view-mobile,
.view-tablet {
    display: none;
}

.icon-header {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.header-logo {
    text-transform: uppercase;
    text-decoration: none;
    color: $blueColor;
    @include fontCharacteristic(20px, 700, 18px, -0.154px);
    width: 120px;
}

.header-links {
    display: flex;
    list-style-type: none;
    font-family: $fontSFProText;
    @include fontCharacteristic(14px, 500, 18px, -0.154px);
    gap: 24px;
    @include setPaddingMargin(0, 0);
}

.header-links li {
    display: flex;
    @include setPaddingMargin(0, auto 0);
}

.header-links-black {
    text-decoration: none;
    color: #101828;
    margin: auto 0;
}

.blue-text {
    color: $blueColor;
}

.header-links-blue {
    gap: 0;
    .links-telephone-1 {
        margin-right: 16px;
    }

    .links-telephone-2 {
        margin-right: 32px;
    }
}

.start-block {
    height: 900px;
    margin: 0 auto;
}

@keyframes moveUp {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 300%;
    }
}

@keyframes moveDown {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -300%;
    }
}

.block-background {
    margin-left: 51.5%;
}

.background-start-image {
    position: absolute;
    width: 900px;
    height: 1100px;
    z-index: 0;
    display: flex;
    top: -100px;
    gap: 70px;
    overflow: hidden;
    transform: rotate(-12deg);

    .background-start-left {
        width: 515px;
        height: 2640px;
        background: url(/src/assets/img/background-start-left.webp) repeat-y;
        animation: moveUp 25s linear infinite;
        position: relative;
        overflow: hidden;
        background-size: 515px;
    }

    .background-start-right {
        width: 450px;
        height: 2640px;
        right: 80px;
        background: url(/src/assets/img/background-start-right.webp) repeat-y;
        background-size: 295px;
        animation: moveDown 25s infinite linear;
        position: relative;
        overflow: hidden;
    }
}

.main-text-block {
    padding-top: 160px;
    width: 600px;
}

.block-form {
    // position: absolute;
    // z-index: 9;
    width: 676px;
    padding: 24px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
}

.form-contacts {
    display: flex;
    align-items: center;
    gap: 24px;

    input {
        width: 224px;
        font-family: $fontSFProText;
        font-size: 17px;
        border: 0px;
        border-bottom: 0.7px solid #D0D5DD;
        outline: none;
        @include setPaddingMargin(8px 0px, 0);
    }
}

.form-button {
    background-color: $blueColor;
    color: #fff;
    font-family: $fontSFProText;
    @include fontCharacteristic(14px, 600, 18px, -0.154px);
    width: 132px;
    border: 0px;
    border-radius: 8px;
    text-align: left;
    @include setPaddingMargin(11px 24px, 0);
}

.development-info {
    display: flex;
    gap: 128px;
    padding: 80px 0px;
}

.development-info-text {
    width: 600px;

    h3 {
        font-family: $fontSFProDisplay;
        @include fontCharacteristic(20px, 600, 24px, 0.38px);
        @include setPaddingMargin(0, 0);
    }
}

.development-paragraph {
    font-family: $fontSFProText;
    @include fontCharacteristic(15px, 500, 20px, -0.24px);
    @include setPaddingMargin(0, 0);
    margin-top: 32px;
    margin-bottom: 34px;
}

.development-web-mobile {
    font-family: $fontSFProText;
    @include fontCharacteristic(17px, 400, 22px, -0.408px);
    @include setPaddingMargin(0, 0);
    margin-top: 16px;
}

.web-mobile-first {
    margin-bottom: 32px;
}

.development-info-list {
    width: 233px;
    font-family: $fontSFProDisplay;
    @include fontCharacteristic(20px, 400, 24px, 0.38px);
}

.info-list {
    @include setPaddingMargin(0, 0);
    list-style-type: none;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    li {
        display: flex;
        gap: 12px;
    }

    a {
        text-decoration: none;
        color: #1D2939;
        @include setPaddingMargin(0, auto 0);

        &:hover {
            color: #101828;
            font-weight: 600;
            margin-bottom: 4px;
            border-bottom: 1px $blueColor solid;
        }
    }
}

.icon-list-arrow {
    width: 24px;
    height: 24px;
    @include setPaddingMargin(0, auto 0);
}

.main-footer {
    background-color: #101828;
    color: #fff;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.icon-footer {
    width: 24px;
    height: 24px;
}

.our-contacts-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    @include setPaddingMargin(0, 0);

    h3 {
        margin: 0;
        font-family: $fontSFProText;
        @include fontCharacteristic(14px, 500, 18px, -0.154px);
        color: #aeaeae;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    li {
        width: 294px;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.footer-paragpraph {
    font-family: $fontSFProText;
    @include fontCharacteristic(13px, 400, 16px, -0.078px);
    display: flex;
    gap: 12px;
    @include setPaddingMargin(0, 0 auto);
}

.icon-footer-carta {
    width: 32px;
    height: 16px;
}