@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Bold'), local('Inter Bold'),
         url("/static/fonts/Inter-Bold.ttf") format("truetype"),
         url("/static/fonts/Inter-Bold.woff2") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url("/static/fonts/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Medium'), local('Inter Medium'),
         url("/static/fonts/Inter-Medium.ttf") format("truetype"),
         url("/static/fonts/Inter-Medium.woff2") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Regular'), local('Inter Regular'),
         url("/static/fonts/Inter-Regular.ttf") format("truetype"),
         url("/static/fonts/Inter-Regular.woff2") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Text";
    src: url(/static/fonts/SFProText-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Text";
    src: url(/static/fonts/SFProText-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Text";
    src: url(/static/fonts/SFProText-Semibold.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "SF Pro Text";
    src: url(/static/fonts/SFProText-Bold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(/static/fonts/SF-Pro-Display-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(/static/fonts/SF-Pro-Display-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(/static/fonts/SF-Pro-Display-Semibold.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(/static/fonts/SF-Pro-Display-Bold.ttf) format("truetype");
    font-weight: 700;
}