body {
    font-family: "Inter";
    font-weight: 400;
    margin: 0;
}
    
.blocks-center {
    width: 1224px;
    margin: 0 auto;
}
    
.main-block {
    background-color: #F2F4F7;
    min-height: 500px;
}
    
.background-white {
    background-color: #fff;
}
    
*,
*:before,
*:after {
    box-sizing: border-box;
}